body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
}


div {
    width: 80%;
    height: 25px;
    padding-top: 12px;
    padding-left: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid lightgray;
    border-radius: 8px;
}


.message-info {
    color: black;
    background-color: lightskyblue;
}


.message-success{
    color: black;
    background-color: palegreen;
}


.message-warning {
    color: black;
    background-color: lightgoldenrodyellow;
}


.message-error {
    color: black;
    background-color: lightpink;
}
