.fancy-header {
    color: purple;
    text-decoration: underline;
}

h2 {
    text-align: center;
}
h2, h3, h4, h5, h6 {
    color: lightseagreen;
    text-decoration: underline;
}
body {
    background-image: url("http://placeholder.pics/svg/30");
    font-style: italic;
}
ul, ol {
    color: lightcoral;
/*}*/
/*table {*/
/*    color: cornflowerblue;*/
/*    font-size: 30px;*/
/*}*/
a:hover {
    color: darkred;
}